html {
    background: rgba(0, 34, 128, 0.918);
    
    background-image: linear-gradient(143deg, #001d75 35.94%, #001457 35.94%, #001457 39.06%, #001a66 39.06%, #001a66 50%, #001d75 50%, #001d75 85.94%, #001457 85.94%, #001457 89.06%, #001a66 89.06%, #001a66 100%);
    background-size: 53.17px 40.07px;
}

.index {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.indexGrid {
    margin: auto;
    display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 10px;
}

.indexContent {
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    margin: auto;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.indexContent h3 {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.indexContent h1 {
    margin-top: 0;
}

.indexBtn {
    padding: 20px;
    /* background: rgba(0, 0, 0, 0.2); */
    margin: auto;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.indexBtn a {
    color: white;
    border: solid 1px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.indexBtn a:hover {
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); */
    background: rgba(0, 0, 0, 0.6);
}