@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;

    transition-property: background-color;
    transition-duration: 0.2s;
}

body, html {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

*::selection {
    background: rgba(0, 44, 167, 0.8);
    color: white;
}

/* input {
    font-size: 1.2em;
    background: none;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(255, 255, 255, 0.8);
    padding: 2px;
    color: white;
    border-radius: 3px;
}

input[type="submit"] {
    border: solid 1px rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: white;
    color: rgba(0, 34, 128, 1);
    cursor: pointer;
} */

input {
    font-size: 1.2em;
    background: none;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 10px 7px -8px rgba(0, 0, 0, 0.2);
    border: solid 1px rgba(119, 119, 119, 0.8);
    padding: 2px;
    color: black;
    border-radius: 3px;
}

input[type="submit"] {
    background: rgba(0, 34, 128, 1);
    border: solid 1px rgb(0, 22, 82);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    background: rgb(0, 44, 167);
    cursor: pointer;
}

.ok, .failed {
    margin: auto;
}

.ok h3, .ok h4, .ok h5, .failed h3, .failed h4, .failed h5 {
    font-weight: normal;
}

.ok h3 b, .ok h4 b, .ok h5 b, .failed h3 b, .failed h4 b, .failed h5 b {
    font-weight: bold;
}

.ok h1, .ok h2 {
    color: green;
}

.failed h1, .failed h2 {
    color: red;
}

a {
    color: rgb(0, 0, 134);
    text-decoration: none;
}

a:hover, a:focus {
    color: rgb(0, 0, 151);
    text-decoration: underline;
    outline: none;
}