html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.struct {
    display: grid;
    grid-template-rows: 170px 1fr 55px;
    grid-template-areas: 
    'menu'
    'content'
    'footer';
    height: 100vh;
}

.struct iframe {
    width: 100%;
    height: 100%;
}

#menu {
    grid-area: menu;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
}